backend/node_modules/
backend/coverage/
backend/.env.example

frontend/node_modules/
frontend/dist/
frontend/.env
backend/*.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
